.App {
  max-width: 600px;
  margin: auto;
}

.emoji-grid {
  max-height: 50vh;
  overflow: auto;
  border: 2px solid black;
}

.emoji-preview,
.emoji-grid button {
  background: none;
  border: none;
  font-size: 2rem;
}

footer a {
  margin-right: 0.5rem;
}
